.wrapper{
    width: 350px;
    margin: 15px auto;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
}

.quote{
    background-color: #f5baac;
    color: white;
    padding: 15px 15px 20px;
    border-radius: 5px;
    position: relative;
}

.quote::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 80px;
    right: 120px;
    background-color: #f5baac;
    transform: skew(-70deg, -40deg);
}

.author{
    color: #978287;
    margin-top: 30px;
}


