.wrapper{
    width: 450px;
    margin: auto;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}


#menu, #point2, #menu~ul, #point2~ul,
#menu:not(:checked)~label[for=menu]:nth-of-type(2),
#menu:checked+label[for=menu]
{
    display: none;
}

#menu:checked~ul, #point2:checked~ul{
    display: block;
}

ul{
    padding: 15px 0 0 0;
    margin: -10px 0 0 0;
    width: 45%;
    border-radius: 7px;
    box-shadow: 0px 0px 2px 2px lightgray;
}

#point2:checked~ul{
    position: absolute;
    left: 46%;
    top: 45%;
    padding: 0;
}


li, label{
    display: block;
    width: calc(100% - 20px);
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 7px;
}

li{
    list-style-type: none;
}

label{
    color: #616161;
    position: relative;
}

li>a{
    text-decoration: none;
    color: #616161;
    width: 100%;
}


ul>label:after{
    content: "f";
    font-family: "untitled-font-1";
    font-size: 20px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 12px;
}


label[for=menu], label[for=menu]:hover{
    width: calc(45% - 20px);
    background-color: #31805c;
    color: white;
    box-shadow: 0px 1px 1px 2px lightgray;
}


label:hover, li:hover, li:hover a{
    color: white;
    background-color: #75cca5;
}
