.wrapper{
    width: 60px;
    height: 120px;
}

.row{
    height: 20px;
    position: relative;
}

.row>div{
    position: absolute;
    transition: left 0.5s;
}
.wrapper:hover .row>div {
    transition: left 1.5s;
}

.row>div:first-child{
    left: 0;
}

.row>div:nth-of-type(2){
    left: 15px;
}

.row>div:last-child{
    left: 30px;
}


.wrapper:hover .row:nth-of-type(3)>div:nth-of-type(2),
.wrapper:hover .row:nth-of-type(4)>div:nth-of-type(2),
.wrapper:hover .row:nth-of-type(5)>div:nth-of-type(3),
.wrapper:hover .row:nth-of-type(6)>div:nth-of-type(3)
{
    left: 0px;
}

.wrapper:hover .row:nth-of-type(2)>div:nth-of-type(3),
.wrapper:hover .row:nth-of-type(3)>div:nth-of-type(1),
.wrapper:hover .row:nth-of-type(4)>div:nth-of-type(3),
.wrapper:hover .row:nth-of-type(5)>div:nth-of-type(1)
{
    left: 15px;
}

.wrapper:hover .row:nth-of-type(2)>div:nth-of-type(2),
.wrapper:hover .row:nth-of-type(4)>div:nth-of-type(1),
.wrapper:hover .row:nth-of-type(5)>div:nth-of-type(2),
.wrapper:hover .row:nth-of-type(6)>div:nth-of-type(1)
{
    left: 30px;
}


